body {
   position: relative;
   margin: 0;
}

.widget {
   display: flex;
   font-family: 'Verdana';
   background-color: white;
   height: 100vh;
}

.side-panel {
   min-width: 200px;
   width: 30%;
   color: white;
   max-width: 300px;
   background-color: rgba(34,6,74,1);
   background: linear-gradient(0deg, rgba(0,4,41,1) 0%, rgba(34,6,74,1) 36%, rgba(94,8,76,1) 100%);
   padding: 30px;
}

.user {
   display: flex;
   padding-bottom: 20px;
   border-bottom: 1px solid white;
}

.avatar {
   display: block;
   flex-shrink: 0;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   background-color: lightgrey;
   background-image: url('../img/avatar.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   margin-right: 20px;
}

.user-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.name {
   font-weight: bold;
   margin-bottom: 5px;
   font-size: 16px;
}

.role {
   font-size: 14px;
}

section {
   font-size: 16px;
   padding-top: 30px;
}

.cat-name {
   font-size: 16px;
   margin: 0 0 15px 0;
}

.list {
   list-style: none;
   line-height: 1em;
   padding: 0;
   margin: 0;
}

.point {
   padding: 10px;
   margin: 0;
}

.point::before, .btn::before {
   font-family: 'Font Awesome 6 Free';
   display: inline-block;
   width: 20px;
   margin-right: 10px;
   font-weight: 600;
}

.all::before {
   content: '\f15b';
}

.point:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.text-cat::before {
   content: '\f031';
}

.img-cat::before {
   content: '\f03e';
}

.voice-cat::before, .voice::before {
   content: '\f130';
}

.video-cat::before, .video::before {
   content: '\f008';
}

.links-cat::before {
   content: '\f0c1';
}

.label::before {
   content: '\f111';
}

.important::before {
   color: lightcoral;
}

.later::before {
   color: aqua;
}

.done::before {
   color: lightgreen;
}

.main-panel {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80%;
   padding: 30px;
}

.channel {
   display: flex;
   justify-content: space-between;
   height: 50px;
   padding-bottom: 20px;
   border-bottom: 1px solid lightgray;
}

.channel-name {
   width: 65%;
   font-size: 18px;
   line-height: 50px;
   margin: 0;
}

.periphery {
   display: flex;
   justify-content: end;
   flex-shrink: 0;
   margin: auto 20px auto 0;
}

.search {
   width: 80%;
   font-family: 'Verdana';
   height: 20px;
   padding: 5px;
   text-indent: 30px;
   border: 1px solid lightgray;
   border-radius: 5px;
}

.fa-magnifying-glass {
   position: relative;
   left: 30px;
   color: rgb(185, 185, 185);
}

.messages {
   height: calc(100% - 170px);
   margin: 20px 0 20px 0;
   overflow-y: auto;
}

.message {
   padding: 20px 10px 20px 10px;
}

.message:hover {
   background-color: rgba(112, 174, 255, 0.2);
}

.msg-info {
   display: flex;
}

.autor {
   margin: auto 20px auto 0;
   font-size: 16px;
}

.time {
   margin: auto 10px auto 0;
   font-size: 14px;
   color: grey;
}

.msg-body {
   margin-left: 70px;
}

.has-label {
   padding-left: 20px;
}

.label-important {
   border-left: 5px solid lightcoral;
}

.label-later {
   border-left: 5px solid aqua;
}

.label-done {
   border-left: 5px solid lightgreen;
}

.highlight {
   background-color: rgba(94, 8, 75, 0.2);
}

.attachWrapper {
   width: 300px;
   position: relative;
}

.img-link {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 200px;
   background-color: black;
}

.attachment {
   width: -webkit-fill-available;
   max-height: 200px;
}

.nameplate {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   padding: 10px;
   height: max-content;
   font-weight: bold;
   font-size: 14px;
   color: black;
   position: absolute;
   background-color: rgba(255, 255, 255, 0.5);
   width: -webkit-fill-available;
   bottom: 0;
}

.input {
   width: 100%;
   height: 50px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
}

.msg-input {
   width: calc(100% - 180px);
   height: 30px;
   padding: 10px;
   border: 1px solid lightgray;
   border-radius: 5px;
}

.msg-buttons {
   width: 130px;
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: space-between;
}

.btn::before {
   color: grey;
}

.markers::before {
   content: '\f591';
}

.attach::before {
   content: '\f0c6';
}

.attachWindow {
   position: absolute;
   top: 0; bottom: 0; left: 0; right: 0;
   margin: auto;
   padding: 30px;
   width: 40%;
   height: 40%;
   border: 2px solid rgba(94, 8, 75, 1);
   background-color: white;
   border-radius: 8px;
}

.close {
   display: block;
   position: relative;
   top: -15px;
   left: 100%;
   width: min-content;
}

.close::after {
   font-family: 'Font Awesome 6 Free';
   font-weight: bold;
   content: '\f00d';
   color: rgba(94, 8, 75, 1);
}

.dropWindow {
   font-family: 'Verdana';
   font-weight: bold;
   margin: auto;
   width: 100%;
   height: 95%;
   border: 2px dashed rgba(94, 8, 75, 1);
   border-radius: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.dropMessage {
   display: block;
   font-size: 18px;
   color: gray;
   text-align: center;
}

.or {
   display: block;
   margin-top: 20px;
   font-size: 14px;
   color: rgba(94, 8, 75, 1);
   text-align: center;
}

.inputWrapper {
   margin-top: 30px;
   position: relative;
   height: 60px;
   width: 50%;
}

.fileInput {
   position: absolute;
   top: 0; bottom: 0; right: 0; left: 0; margin: 0;
   opacity: 0;
}

.overlap {
   position: absolute;
   background-color: rgba(94, 8, 75, 1);
   padding: 10px;
   text-align: center;
   color: white;
   font-weight: 400;
   line-height: 40px;
   top: 0; bottom: 0; right: 0; left: 0; margin: 0;
   border-radius: 10px;
}